@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    //color: #333333;
}

header {
    width: 100%;
    height: 130px;
    margin-top: 10px;
    color: #333333;
}

header ul {
    margin: 0;
    padding: 0;
    width: auto;
}

header li {
    list-style-type: none;
}

header li a {
    display: block;
    width: auto;
    padding: 5px 15px 5px 15px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

header li a:hover {
    text-decoration: none;
    background-color: #DDD;
}

#header-inner {
    height: 80px;
    display: block;
}

#header-logo {
    display: block;
    float: left;
}

#header-logo h1 {
    font-size: 35pt;
    color: inherit;
}

#header-Nav {
    display: block;
    float: right;
}

#header-Nav li{
    float: right;
}

#header-Nav a {
    color: inherit;
}

#header-menu {
    display: block;
    float: left;
    width: 100%;
    border: dotted #333333;
    border-width: 1px 0 1px 0;
}

#header-menu li{
    float: left;
}

#header-menu a {
    color: inherit;
}

body {
    margin: 0 20px;
    text-align: left;
    color: #333333;
    background-color: #FFFFFF;
}

#main {
  padding: 0px 20px;
}

footer {
    clear: both;
    height: 25px;
    margin-top: 40px;
    padding-top: 7px;
    font-size: 10pt;
    text-align: center;
    color: #333333;
    width: 100%;
    border: dotted #333333;
    border-width: 1px 0 1px 0;
    display: block;
}

#main h2 {
    //margin-bottom: 20px;
    border-bottom: 1px solid #333333;
    margin: 1em 0;
    display: inline-block;
    width: 100%;
}

.error_message {
    color: #F06060;
}

.shop-list {
    display: block;
}

.shop-list-item {
    border: 1px solid #EEEEEE;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 20px 0px;
    float: left;
}

.shop-list-item img {
    display: inline-block;
    background-color: #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: contain;
    margin: 10px 0px;
}

.shop-list-item p {
    color: #F06060;
}

.shop-list-item input {
    margin-top: 20px;
    float: right;
}

.shop-list-item-text {
    padding: 0px 10px;
}

#about td {
    padding: 5px 10px;
}

/*
#item-detail {
    border: 1px solid #EEEEEE;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 20px 0px;
    float: left;
}
*/

#item-detail img {
    display: inline-block;
    background-color: #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
    width: 35%;
    //width: 500px;
    //height: 500px;
    background-size: contain;
    //margin: 10px 0px;
}

#item-detail-text {
    //padding: 0px 10px;
    //background-color: red;
    width: 55%;
    float: right;
}

#item-detail-text-purchase {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

#item-detail-text-purchase-inputs {
    float: right;
}

#item-detail-text-purchase-inputs input {
    float: left;
}

#item-detail-text-purchase-price {
    color: #F06060;
    display: inline-block;
    float: left;
}

.item-description {
    display: inline-block;
    border-top: solid 1px #CCCCCC;
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
}

/*
#main img {
    width: 100px;
    height: 500px;
    border: 1px solid #333333;
    margin: 1em 0;
    background-color: yellow;
}
*/

/*
body {
  margin: 0;
  padding: 0 40px;
  font-size: 16px;
  background: url("../images/pagebg.gif");
  font-family: Arial,Verdana,Helvetica,'MS UI Gothic',sans-serif;
}

div#header {
  margin-top: 40px;
  margin-bottom: 1em;
  padding: 0px 20px;
  height: 40px;
  background: url("../images/navbg.gif") repeat-x;
}

div#header h1 {
  background: url("../images/navlogo.gif") right no-repeat;
}

div#footer {
  margin-bottom: 1em;
  padding: 5px 20px;
  background-color: #cee6e6;
  text-align: right;
}

div#footer a {
  color: #f35a21;
}

div#main {
  margin-bottom: 1em;
  padding: 10px 20px;
  border: 1px solid #cee6e6;
  background-color: #ffffff;
}

div#main h2 {
  color: #00cccc;
  border-bottom: 1px solid #cee6e6;
  margin: 1.2em 0;
}

div#main a:link {
  color: #f35a21;
}

div#main a:visited {
  color: #f29578;
}

span.ethna-error {
  color: #ff0000;
}
*/
