.mycart-item {
    border: 1px solid #EEEEEE;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 20px 0px;
    float: left;
}

.mycart-item img {
    display: inline-block;
    background-color: #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: contain;
    margin: 10px 0px;
}

.item-price {
    display: inline;
    color: #F06060;
}

.mycart-item input {
    margin-top: 20px;
    float: right;
}

.mycart-item-text {
    padding: 0px 10px;
}

.mycart-procedure-dummy {
    width : 100%;
    margin-bottom: 20px;
    float: right
}

.mycart-procedure {
    display: block;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 20px;
    width : 300px;
    float: left;
}

.mycart-procedure p {
    float: left;
}

.mycart-procedure input {
    float: right;
}

.attracted-item {
    border: 1px solid #EEEEEE;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 20px 0px;
    float: left;
}

.attracted-item img {
    display: inline-block;
    background-color: #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: contain;
    margin: 10px 0px;
}

.attracted-item input {
    margin-top: 20px;
    float: right;
}

.attracted-item-text {
    padding: 0px 10px;
}

.new-item {
    border: 1px solid #EEEEEE;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 20px 0px;
    float: left;
}

.new-item img {
    display: inline-block;
    background-color: #CCCCCC;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: contain;
    margin: 10px 0px;
}

.new-item input {
    margin-top: 20px;
    float: right;
}

.new-item-text {
    padding: 0px 10px;
}

#search-box {
    //margin: 1em 0;
    float: right;
}

#search-box p {
    float: right;
    //display: block;
    //width: 100%;
    //text-align: right;
    //color: red;
}
